.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/* bottone chiamaci */
/* components/CallButton.module.css */
.callButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d89ede; /* Colore del pulsante */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.callButton:hover {
    background-color: #85588a; /* Colore del pulsante al passaggio del mouse */
}

/* --------------------------------------------------------------------------------------------- */

/* ingredienti */


.ingredientsButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d89ede;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center; /* Allinea verticalmente il testo e l'icona */
}

.ingredientsButton:hover {
    background-color: #85588a;

}

.arrow {
    margin-left: 10px; /* Spazio tra il testo e l'icona */
    transition: transform 0.3s ease; /* Transizione per la rotazione */
}

.rotated {
    transform: rotate(180deg); /* Ruota l'icona di 180 gradi */
}

.ingredientsList {
    margin-top: 10px; /* Spazio sopra la lista degli ingredienti */
    list-style: none;
}

/* --------------------------------------------------------------------------------------------- */


/* contenitore delle varie torte*/

.containerR {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px;
    border: solid 2px #f3bc9f;;
}


.containerL {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px;
    border: solid 2px #f3bc9f;;
}

.containerText {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    padding: 20px;
    margin: 20px;
}

.img {
    width: 50%;
    height: auto;
}

/* --------------------------------------------------------------------------------------------- */