.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/* bottone chiamaci */
/* components/CallButton.module.css */
.callButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f3bc9f; /* Colore del pulsante */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.callButton:hover {
    background-color: #dda282; /* Colore del pulsante al passaggio del mouse */
}

/* --------------------------------------------------------------------------------------------- */

/* ingredienti */


.ingredientsButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f3bc9f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center; /* Allinea verticalmente il testo e l'icona */
}

.ingredientsButton:hover {
    background-color: #dda282;

}

.arrow {
    margin-left: 10px; /* Spazio tra il testo e l'icona */
    transition: transform 0.3s ease; /* Transizione per la rotazione */
}

.rotated {
    transform: rotate(180deg); /* Ruota l'icona di 180 gradi */
}

.ingredientsList {
    margin-top: 10px; /* Spazio sopra la lista degli ingredienti */
    list-style: none;
}

/* --------------------------------------------------------------------------------------------- */


/* contenitore delle varie prodotti*/

.containerP {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerText {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: solid 2px #f3bc9f;
    margin: 5px;
}

.img {
    width: 50%;
    height: auto;
}

.noProducts {
    color: #777;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px 0;
}


/* --------------------------------------------------------------------------------------------- */

.addCardConteiner {
    background-color: #f0f0f0; /* Light gray background */
    border: 1px solid #ccc; /* Optional: Add a light border */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding inside the container */
    display: flex; /* Use flexbox for alignment */
    flex-direction: row; /* Horizontal layout */
    justify-content: space-between; /* Space between title and link */
    align-items: center; /* Center items vertically */
    margin: 20px; /* Margin for spacing around the container */
}

.cardTitle {
    color: #333; /* Darker text color for better readability */
    margin: 0; /* Remove default margin */
}

.più {
    font-size: 1.5rem; /* Larger font size for the plus sign */
    color: #fff; /* White text color */
    background-color: #f3bc9f; /* Bootstrap primary blue color or any custom color */
    border-radius: 50%; /* Make it circular */
    width: 2rem; /* Set width for the button */
    height: 2rem; /* Set height for the button */
    display: flex; /* Use flexbox to center the plus sign */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-decoration: none; /* Remove underline from link */
}

.più:hover {
    background-color: #dda282; /* Darker blue on hover */
}