.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.h2 {
    text-align: center;
    margin: 3rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    table-layout: auto;
}

.th, .td {
    text-align: left;
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.tr {
    background-color: #f3bc9f;
}

.thPrezzo {
    width: 5rem;
}

.thTelefono {
    width: 10rem;
}

@media (max-width: 1020px) {
    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .th, .td {
        padding: 10px;
    }

    .th {
        font-size: 14px;
    }

    .td {
        font-size: 12px;
    }

    /* Hide the "Telefono" column under 1020px */
    .table tr td:nth-child(3), /* Target the third column for "Telefono" */
    .table tr th:nth-child(3) { /* Target the header for "Telefono" */
        display: none;
    }
}

.dropDown{
    background-color: red;
    margin-left: 40px;
}

.changeOrderStatus {
    background-color: #f3bc9f;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.btn {
    list-style: none;
}
.modal {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    width: 400px;
    margin: auto;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionButton {
    background-color: #f3bc9f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.optionButton:hover {
    background-color: #e0a884;
}

.selected {
    background-color: #d97a3e;
}

.saveButton {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.cancelButton {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
