.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.h2 {
    text-align: center;
    margin: 3rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    table-layout: auto;
}

.th, .td {
    text-align: left;
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.tr {
    background-color: #f3bc9f;
}

.thPrezzo {
    width: 80px;
}

@media (max-width: 1020px) {
    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .th, .td {
        padding: 10px;
    }

    .th {
        font-size: 14px;
    }

    .td {
        font-size: 12px;
    }

    /* Hide the "Telefono" column under 1020px */
    .table tr td:nth-child(3), /* Target the third column for "Telefono" */
    .table tr th:nth-child(3) { /* Target the header for "Telefono" */
        display: none;
    }
}

.btn {
    list-style: none;
}