/* Contenitore principale */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Informazioni utente */
.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #f3bc9f;
    border-radius: 10px;
    background-color: #fff4eb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

/* Singolo campo delle informazioni */
.field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.field p {
    font-size: 16px;
    color: #333;
    margin: 0;
    flex: 1;
}

/* Pulsante Aggiungi */
.field button {
    background-color: #f3bc9f;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.field button:hover {
    background-color: #dda282;
}

/* Campi per modifica */

.modifyButton {
    width: 120px;
}

.editField {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.editField input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
}

.editField button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editField button:hover {
    background-color: #45a049;
}

/* Pulsante Annulla */
.editField button:nth-child(3) {
    background-color: #f44336;
}

.editField button:nth-child(3):hover {
    background-color: #d7392b;
}

/* Pulsante Logout */
.btnLogout {
    background-color: #f3bc9f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnLogout:hover {
    background-color: #dda282;
}

/* Sezione info utente */
.infoUtente {
    display: flex;
    max-width: 100%;
    margin-top: 20px;
}
