.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.container, .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    max-width: 36.97rem;
    width: 100%;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    max-width: 50%;
    font-family: Montserrat, serif;
}

.container h1 {
    font-weight: normal;
    padding: 30px;
}

.testo {
    text-align: center;
    line-height: 1.5rem;
}

.container button {
    margin: 2rem;
    padding: 1rem 2rem;
    border-radius: 5rem;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    background-color: #f3bc9f;
    text-align: center;
    position: relative;
    cursor: pointer;
    width: 200px;
    transition: transform 0.1s ease-in-out;
}
.container button:hover {
    font-weight: 500;
    transform: scale(1.05);
}

.immagine {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    object-position: 50% 5%;
}







.container2 {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 6px 2px;
    font-family: Montserrat, serif;
    font-size: 16px;
}

.primaSezione {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.2rem;
}

.orari {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.orari h1 {
    font-weight: 400;
}

.orariApertura {
    text-align: center;
}

.columnsContainer {
    display: flex;
    padding-top: 1rem;
    justify-content: space-around;
}
.columnsContainer p {
    padding: 0.5rem;
    line-height: 1.5rem;
}


.secondaSezione {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.2rem;
}

.sezione2_immagine2 {
    width: 85%;
}


.terzaSezione {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.2rem;
}

.sezione2_immagine3 {
    scale: 0.85;
}

.sedi {
    width: 100%;
    height: 50%;
    padding-left: 2rem;
}
.sedi h1 {
    font-weight: 400;
    padding-bottom: 1.5rem;
}
.sedi p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.sedi button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 5rem;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    background-color: #f3bc9f;
    text-align: center;
    position: relative;
    cursor: pointer;
    width: 200px;
    transition: transform 0.1s ease-in-out;
}
.sedi button:hover {
    font-weight: 500;
    transform: scale(1.05);
}
