.page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.container, .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    max-width: 36.97rem;
    width: 100%;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    max-width: 50%;
    justify-content: space-between;
}

.container h1 {
    font-weight: normal;
    padding: 30px;
}

.testo {
    text-align: center;
    line-height: 1.5rem;
}

.button::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
    background-color: #d8a9b3;
    box-shadow: inset 0 0 12px rgba(216, 169, 179, 0.44);
    z-index: -1;
}

.button {
    margin: 2rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    color: #f4f0ff;
    text-align: center;
    position: relative;
    cursor: pointer;
    width: 200px;
}

.button:hover {
    font-weight: bold;
}

.button::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c2b2c6;
    box-shadow: inset 0 0 12px rgba(194, 178, 198, 0.44);
    border-radius: 1.5rem;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in;
}

.button:hover::after {
    opacity: 1;
}

.button-border {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
    z-index: -1;
}

.button-border::before {
    content: "";
    position: absolute;
    border-radius: 1.5rem;
    padding: 1px;
    inset: 0;
    background-color: #d8a9b3;
    pointer-events: none;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 6px 2px;
}

.orari {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-top: 2.2rem;
}

.orari h3 {
    font-weight: lighter;
    font-size: xx-large;
}

.immagine {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sedi {
    display: flex;
    width: 400px;
    height: 400px;
    background-color: #bbbbbb;
}

.immagine2 {
    display: flex;
    width: 400px;
    height: 400px;
    background-color: #da5353;
}

.orariDiv2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 15.5rem;
    text-align: center;
}

.orariDiv2 p {
    margin-top: 1rem;
    margin-right: 2rem;
}

.marm {
    max-width: 50%;
    height: auto;
}

.marmContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}