.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    margin: 2rem auto;
    align-items: flex-end;
}

.h1 {
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin: 2rem;
}
.h1 h2 {
    font-family: Montserrat, sans-serif;
}

.utente {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img {
    margin-bottom: 20px;
    height: 5rem;
    width: 5rem;
}

.avatar {
    height: 6rem;
    width: 6rem;
    margin: 1rem;
    padding: 1rem;
}

.ordini {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}